<% provide(:title, 'Sign up') %>
<h1 class="title">Sign up</h1>


    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages' %>
      <table align="center" width="100%">
        <tr>
          <td align="center">
            <select ID="DropDownList1" runat="server">
              <option Text="Title">Title</option>
              <option Text="Mr." Value="1">Mr.</option>
              <option Text="Ms." Value="2">Ms.</option>
              <option Text="Dr." Value="3">Dr.</option>
            </select>
          </td>
        </tr>
        <tr>
          <td align="center">
            <%= f.text_field :FirstName,:placeholder => 'First Name' %>
          </td>
        </tr>
        <tr>
          <td align="center">
            <%= f.text_field :LastName,:placeholder => 'Last Name' %>
          </td>
        </tr>
        <tr>
          <td align="center">      
            
            <%= f.text_field :email, :placeholder => 'Email' %>
          </td>
        </tr>
        <tr>
          <td align="center">
            
            <%= f.password_field :password, :placeholder => 'Password' %>
          </td>
        </tr>
        <tr>
          <td align="center">
            
            <%= f.password_field :password_confirmation, :placeholder => 'Re-Enter Password' %>
          </td>
        </tr>
      </table>
 <table width="84%">
    <tr>
      <td align="center">
      <%= f.submit "Sign up", :style => "background-color:#181818;border-radius:15px; display:inline-block; color: white; font-family: Raleway; font-size:15px; padding:14px 30px; text-decoration: none; margin-left: 20%; margin-top: 15px; margin-bottom: 15px; text-align:center;" %>
    </td>
  </tr>
</table>
    <% end %>