<div class="box1">
	<h2>Spends</h2>
	<table>
		<tr>
			<td>
				Start Date <input type="text" id="TxtBx_StartDate" style="width:65px">
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;End Date <input type="text" id="TxtBx_EndDate" style="width:65px">
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Recipent Category
				<select>
					<option value="All">All</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Recipent Type
				<select>
					<option value="All">All</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Recipent State
				<select>
					<option value="All">All</option>
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Spend Activity Type
				<select>
					<option value="All">All</option>
					<option value="Call">Call</option>
					<option value="Advisory Board">Advisory Board</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Spend Detail Type
				<select>
					<option value="All">All</option>
					<option value="Lunch">Lunch</option>
					<option value="Travel">Travel</option>
					<option value="Souvenir">Souvenir</option>
					<option value="Meal">Meal</option>
					<option value="Contracted Fee">Contracted Fee</option>
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Business Purpose
				<select>
					<option value="All">All</option>
					<option vlaue="Promotion">Promotion</option>
				</select>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<input type="button" id="submit" value="Filter" style=" width:40px;height:35px;background-color:#181818;border-radius:5px; display:inline-block; color: white; font-size:10px;  text-decoration: none; margin-left: 5%; margin-top: 15px; margin-bottom: 15px; text-align:center;">
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<br/>
<table class="tablestyle" width="100%">
	<tr>
		<th>
			Spend Id
		</th>
		<th>
		</th>
		<th>
			Transfer of Value Date
		</th>
		<th>
			Amount
		</th>
		<th>
			Number of Payments
		</th>
		<th>
			Nature of Payment
		</th>
		
	</tr>
	<% if @spends.nil? %>
	<tr>
		<td>
			No Spends found.
		</td>
	</tr>
	<% else %>
		<% @spends.each do |s| %>
		<tr>
			<td>
				<%= link_to s.id,s, style: "color: #0099cc;font-weight:bold" %>
			</td>
			<td >

				<%= link_to "Edit",'#', style: "color: #0099cc;font-weight:bold" %>
			</td>
			<td>
				<% if !s.DateofPayment.nil? %>
				<%= s.DateofPayment.to_time.strftime('%b %d,%Y') %>
				<% end %>
			</td>
			<td>
				<%= s.totalAmount %>
			</td>
			<td>
				<%= s.numberofPayment %>
			</td>
			<td>
				<%= s.NatureofPayment %>
			</td>
			
		</tr>
		<% end %>
	<% end %>
</table>