<% if !current_user.nil? %>
<% if current_user.userType =="Employee" %>
<%= link_to "Create New Spend", new_transfer_of_value_path, :style => "background-color:#181818;border-radius:10px; display:inline-block; color: white; font-family: Raleway; font-size:12px; padding:8px 18px; text-decoration: none; margin-top: 15px; margin-bottom: 15px; text-align:center;" %>
<% end %>
<% end %>

<form action='<%= search_path %>' method='get'>
<div class="box1">
	<h2>Spends</h2>
	<table>
		<tr>
			<td>
				Start Date <input type="text" name="Start" id="TxtBx_StartDate" style="width:65px">
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;End Date <input type="text" name="End" id="TxtBx_EndDate" style="width:65px">
			</td>
		</tr>
	</table>
	<script type="text/javascript">
		$('#TxtBx_StartDate').datepicker({
			buttonImageOnly: true,
			buttonImage: 'calendar.jpg',
			dateFormat: 'mm-dd-yy'
		});
		$('#TxtBx_EndDate').datepicker({
			buttonImageOnly: true,
			buttonImage: 'calendar.jpg',
			dateFormat: 'mm-dd-yy'
		});
	</script>
	<table>
		<tr>
			<!--<td>
				Recipent Category
				<select>

				</select>
			</td>-->
			<td>
				&nbsp;&nbsp;&nbsp;Recipent Type
				<select name='UserType'>
					<option value="All">All</option>
					<option value="Physician">Physician</option>
					<option value="Hospital">Hospital</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Recipent State
				<%= select_tag :State, options_for_select([
                                "All",
                                "Alabama AL",
                                "Alaska AK",
                                "Arizona AZ",
                                "Arkansas AR",
                                "California CA",
                                "Colorado CO",
                                "Connecticut CT",
                                "Delaware DE",
                                "Florida FL",
                                "Georgia GA",
                                "Hawaii HI",
                                "Idaho ID",
                                "Illinois IL",
                                "Indiana IN",
                                "Iowa IA",
                                "Kansas KS",
                                "Kentucky KY",
                                "Louisiana LA",
                                "Maine ME",
                                "Maryland MD",
                                "Massachusetts MA",
                                "Michigan MI",
                                "Minnesota MN",
                                "Mississippi MS",
                                "Missouri MO",
                                "Montana MT",
                                "Nebraska NE",
                                "Nevada NV",
                                "New Hampshire NH",
                                "New Jersey NJ",
                                "New Mexico NM",
                                "New York NY",
                                "North Carolina NC",
                                "North Dakota ND",
                                "Ohio OH",
                                "Oklahoma OK",
                                "Oregon OR",
                                "Pennsylvania PA",
                                "Rhode Island RI",
                                "South Carolina SC",
                                "South Dakota SD",
                                "Tennessee TN",
                                "Texas TX",
                                "Utah UT",
                                "Vermont VT",
                                "Virginia VA",
                                "Washington WA",
                                "West Virginia WV",
                                "Wisconsin WI",
                                "Wyoming WY" ]) %>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Spend Activity Type
				<select name="ActivityType">
					<option value="All">All</option>
					<option value="Call">Call</option>
					<option value="Advisory Board">Advisory Board</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Spend Detail Type
				<select name="DetailType">
					<option value="All">All</option>
					<option value="Lunch">Lunch</option>
					<option value="Travel">Travel</option>
					<option value="Souvenir">Souvenir</option>
					<option value="Meal">Meal</option>
					<option value="Contracted Fee">Contracted Fee</option>
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Business Purpose
				<select name="NatureOfPayment">
					<option value="All">All</option>
					<option vlaue="Promotion">Promotion</option>
				</select>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<input type="submit" value="Filter" style=" width:40px;height:35px;background-color:#181818;border-radius:5px; display:inline-block; color: white; font-size:10px;  text-decoration: none; margin-left: 5%; margin-top: 15px; margin-bottom: 15px; text-align:center;">
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
</form>
<br/>
<table class="tablestyle" width="100%">
	<tr>
		<th>
			Spend Id
		</th>
		
		<th>
			Transfer of Value Date
		</th>
		<th>
			Amount
		</th>
		<th>
			Number of Payments
		</th>
		<th>
			Nature of Payment
		</th>
		
	</tr>
	<% if @spends.nil? %>
	<tr>
		<td>
			No Spends found.
		</td>
	</tr>
	<% else %>
		<% @spends.each do |s| %>
		<tr>
			<td>
				<%= link_to s.id,s, style: "color: #0099cc;font-weight:bold" %>
			</td>
			<td>
				<% if !s.DateofPayment.nil? %>
				<%= s.DateofPayment.to_time.strftime('%b %d,%Y') %>
				<% end %>
			</td>
			<td>
				<%= s.totalAmount %>
			</td>
			<td>
				<%= s.numberofPayment %>
			</td>
			<td>
				<%= s.NatureofPayment %>
			</td>
			
		</tr>
		<% end %>
	<% end %>
</table>