<!--<div class="box1">
	<h2>Spends</h2>
	<table>
		<tr>
			<td>
				Start Date <input type="text" id="TxtBx_StartDate" style="width:65px">
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;End Date <input type="text" id="TxtBx_EndDate" style="width:65px">
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Recipent Category
				<select>
					<option value="All">All</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Recipent Type
				<select>
					<option value="All">All</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Recipent State
				<select>
					<option value="All">All</option>
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Spend Activity Type
				<select>
					<option value="All">All</option>
					<option value="Call">Call</option>
					<option value="Advisory Board">Advisory Board</option>
				</select>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;Spend Detail Type
				<select>
					<option value="All">All</option>
					<option value="Lunch">Lunch</option>
					<option value="Travel">Travel</option>
					<option value="Souvenir">Souvenir</option>
					<option value="Meal">Meal</option>
					<option value="Contracted Fee">Contracted Fee</option>
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				Business Purpose
				<select>
					<option value="All">All</option>
					<option vlaue="Promotion">Promotion</option>
				</select>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<input type="button" id="submit" value="Filter" style=" width:40px;height:35px;background-color:#181818;border-radius:5px; display:inline-block; color: white; font-size:10px;  text-decoration: none; margin-left: 5%; margin-top: 15px; margin-bottom: 15px; text-align:center;">
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>-->


<div class="box1" id="recipient">
	<h2>
		Recipient's Description
		<% if current_user.userType == "Employee" %>
			<span style="float:right">
				<a id="Open_Recipient" style="color:blue;cursor:pointer;">
					Edit
				</a>
			</span>
		<% end %>
	</h2>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Recipient Type: </b><p>&nbsp;&nbsp;&nbsp;<%= @Recipients.userType %></p>
	<% if @Recipients.userType == "Physician" %>
		<% suffix= @Recipients.suffix %>
		<% firstName= @Recipients.physicianFirstName %>
		<% user_name=suffix+ " " + firstName %>
		<% if !@Recipients.physicianMiddleName.blank? %>
			<% user_name += " "+@Recipients.physicianMiddleName %>
		<% end %>
		<% if !@Recipients.physicianLastName.blank? %>
			<% user_name += " "+ @Recipients.physicianLastName %>
		<% end %>
		&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Physician Name: </b><p>&nbsp;&nbsp;&nbsp;<%= user_name %></p>
	<% else %>
		&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Hospital Name: </b><p>&nbsp;&nbsp;&nbsp;<%= @Recipients.teachingHospitalName %></p>
	<% end %> 
	<% address = @Recipients.businessAddress %>
	<% address += " "+ @Recipients.city %>
	<% address += " "+ @Recipients.state %>
	<% address += " "+ @Recipients.zip %>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Business Address: </b><p>&nbsp;&nbsp;&nbsp;<%= address %></p>

	<script type="text/javascript">
	$(function(){
		$("#recipient1").submit(function(){
			var dataSet = $(this).serialize();
			$.ajax({
				type: "POST",
				url: $(this).attr("action"),
				data: dataSet,
				success: function(){
					alert("Sent!");
				},
				error: function(){
					alert("Something went wrong!");
		        }
		    });
		    return false;
		});
	})
	var el=document.getElementById("Open_Recipient");
	el.onclick = show_dialog;
	function show_dialog() {
		$( "#dialog" ).dialog();
	}

	$(document).ready(function(){
	var Privileges = jQuery('#RecipientType');
	var select = this.value;
	if(Privileges.val() == 'Physician')
	{
	    $('#physician').show();
    	$('#hospital').hide();
	}
	else
	{
		$('#physician').hide(); // hide div if value is not "custom"
    	$('#hospital').show();
	}
	Privileges.change(function () {
		if ($(this).val() == 'Physician') {
	        $('#physician').show();
    	    $('#hospital').hide();
	    }
    	else {
	    	$('#physician').hide(); // hide div if value is not "custom"
    		$('#hospital').show();
    	}
	});
});
	</script>
	<div id="dialog" title="Recipeint Information" style="font-size:12px;" hidden >
	<%= form_tag({controller: "transfer_of_value",:action => :recipients, :remote => true}) do |f| %>
	<table>
		<tr>
			<td>
				Recipient Type:
			</td>
			<td>
				<select name="RecipientType" id="RecipientType"  >
					<% if  @Recipients.userType== "Physician" %>
						<option value="Physician" selected >Physician</option>
						<option value="Hospital" >Hospital</option>
					<% else %>
						<option value="Physician" >Physician</option>
						<option value="Hospital" selected >Hospital</option>
					<% end %>
				</select>

			</td>
		</tr>
	</table>
		<table id="physician">
			<tr>
				<td>
					Name of Recipient (Physician):
				</td>
				<td>
					<%= select_tag "RecID",options_from_collection_for_select(@physicians,'id','fullNamePhy'),:include_blank => true %>
				</td>
			</tr>
			<tr>
				<td>
					<%=  submit_tag 'update' %>
				</td>
			</tr>
		</table>
		<tab</table>
		<table id="hospital">
			<tr>
				<td>
					Name of Recipient (Hospital): 
				</td>
				<td>
					<%= select_tag "RecID1",options_from_collection_for_select(@hospitals,'id',:teachingHospitalName),:include_blank => true %>
				</td>
			</tr>
			<tr>
				<td>
					<%=  submit_tag 'Update' %>
				</td>
			</tr>
		</table>
	<% end %>
	</div>

</div>

<br/>

<div class="box1">
	<h2>
		Spend Description
		<% if current_user.userType == "Employee" %>
			<span style="float:right">
				<a  id="Open_Spends" style="color:blue;cursor:pointer;">
					Edit
				</a>
			</span>
		<% end %>
	</h2>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Title: </b><p>&nbsp;&nbsp;&nbsp;<%= @spends.paymentName %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Amount: </b><p>&nbsp;&nbsp;&nbsp;<%= @spends.totalAmount %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Business Purpose: </b><p>&nbsp;&nbsp;&nbsp;<%= @spends.NatureofPayment %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Number of Payments: </b><p>&nbsp;&nbsp;&nbsp;<%= @spends.numberofPayment %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Spend Date: </b><p>&nbsp;&nbsp;&nbsp;<% if !@spends.DateofPayment.nil? %><%= @spends.DateofPayment.to_time.strftime('%b %d,%Y') %><% end %></p>

	<script type="text/javascript">
	$(function(){
		$("#recipient1").submit(function(){
			var dataSet = $(this).serialize();
			$.ajax({
				type: "POST",
				url: $(this).attr("action"),
				data: dataSet,
				success: function(){
					alert("Sent!");
				},
				error: function(){
					alert("Something went wrong!");
		        }
		    });
		    return false;
		});
	})
	var el=document.getElementById("Open_Spends");
	el.onclick = show_dialog1;
	function show_dialog1() {
		$( "#dialog1" ).dialog();
	}

	$("#spend_date").datepicker({
			buttonImageOnly:true,
			buttonImage: 'calendar.jpg',
			dateFormat: 'mm-dd-yy'
		});

	</script>
	<div id="dialog1" title="Spends Information" style="font-size:12px;" hidden >
		<%= form_tag({controller: "transfer_of_value",:action => :spends, :remote => true}) do |f| %>
			<table>
				<tr>
					<td>
						Title:
					</td>
					<td>
						<input type="text" name="title" id="title" value="<%= @spends.paymentName %>" />
					</td>
				</tr>
				<tr>
					<td>
						Amount: 
					</td>
					<td>
						<input type="text" name="amount" id="amount" value="<%= @spends.totalAmount %>" />
					</td>
				</tr>
				<tr>
					<td>
						Business Purpose: 
					</td>
					<td>
						<input type="text" name="purpose" id="purpose" value="<%= @spends.NatureofPayment %>" />
					</td>
				</tr>
				<tr>
					<td>
						Number of Payments:
					</td>
					<td>
						<input type="text" name="num_of_pay" id="num_of_pay" value="<%= @spends.numberofPayment %>" />
					</td>
				</tr>
				<tr>
					<td>
						Spend Date: 
					</td>
					<td>
						<% if !@spends.DateofPayment.nil? %>
							<input type="text" name="spend_date" id="spend_date" value="<%= @spends.DateofPayment.to_time.strftime('%b %d,%Y') %>" />
						<% else %>
							<input type="text" name="spend_date" id="spend_date" value="" />
						<% end %>
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" id="id" name="id" value="<%= @spends.id %>" />
					</td>
				</tr>
				<tr>
					<td>
						<%=  submit_tag 'Update' %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>


<br/>

<div class="box1">
	<h2>
		Products
		<% if current_user.userType == "Employee" %>
			<span style="float:right">
				<a id="Open_Products" style="color:blue;cursor:pointer">
					Edit
				</a>
			</span>
		<% end %>
	</h2>
	<% @Products.each_with_index do |p| %>
	<% if p.nameofDrugorBiological.blank? %>
		&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Product: </b><p>&nbsp;&nbsp;&nbsp;<%= p.nameofDeviceorMedicalSupply %></p>
	<% else %>
		&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Product: </b><p>&nbsp;&nbsp;&nbsp;<%= p.nameofDrugorBiological %></p>
	<% end %>
	<% end %>
	<script type="text/javascript">
		$(function(){
			$("#recipient1").submit(function(){
				var dataSet = $(this).serialize;
				$.ajax({
					type: "POST",
					url: $(this).attr("action"),
					data: dataSet,
					success:function(){
						alert("Sent!");
					},
					error: function(){
						alert("Something went wrong!");
					}
				});
				return false;
			});

		})
		var el=document.getElementById("Open_Products");
		el.onclick = show_dialog3;
		function show_dialog3(){
			$("#dialog3").dialog();
		}












		$(document).ready(function() {
		    $("#AddSch").click(function() {
		    	
		    	var rownum=$("#ControlsProd > tbody > tr").length;
		    	//alert(rownum);
		        if (rownum == 0)
		        {
		        	updated_row_num=0;
		        }
		        else 
		        {
		        	updated_row_num=rownum/2;
		        }
                var field = $("#field").val();
                
                var newRow1 = "<tr><td> <input type='button' class='btn_rmvsch' value='Remove'/></td></tr>";


                var input1 = "<input name='product["+ updated_row_num +"]' id='field' type='text' />"
                var newRow = "<tr><td><input type='radio' id='category' "
                +"name='category1["+updated_row_num+"]' value='Drug or Biological' />Drug or Biological"
                +"</td><td><input type='radio' id='category' name='category1["+updated_row_num+"]'"
                +"value='Device or Mdeical Supply'  />Device or Mdeical Supply</td>	</tr>"
                +"<tr><td>" + input1 + "</td></tr>";
                $('#ControlsProd').append(newRow);
                $('#ControlsProd').append(newRow1);

            });
            $('#ControlsProd').on('click', '.btn_rmvsch', function() {
                var index = $(this).closest('tr').index() + 2
                //alert(index);
                $('#ControlsProd tr:nth-child(n+' + (index - 3) + ')').remove();
                return false;
            });
            
        })
	</script>
	<div id="dialog3" title="Spends Information" style="font-size:12px;" hidden >
		<%= form_tag({controller: "transfer_of_value",:action => :product, :remote => true}) do |f| %>
			

			<table>
				<% @Products.each_with_index do |p,i| %>
					<% if p.nameofDrugorBiological.blank? %>
					<tr>
						<td>
							<input type="radio" id="category" name="category[<%= i %>]" 
                    value="Drug or Biological" />Drug or Biological
                		</td>
                		<td>
                    		<input type="radio" id="category" name="category[<%= i %>]" 
                    value="Device or Mdeical Supply" checked />Device or Mdeical Supply
						</td>
					</tr>
						<tr>
							<td>
								Product:
							</td>
							<td>
								<input type="text" name="name[<%= i %>]" value="<%= p.nameofDeviceorMedicalSupply %>" />
							</td>
						</tr>
					<% else %>
						<tr>
							<td>
								<input type="radio" id="category" name="category[<%= i %>]" 
                    value="Drug or Biological" checked />Drug or Biological
                    		</td>
                    		<td>
                    			<input type="radio" id="category" name="category[<%= i %>]" 
                    value="Device or Mdeical Supply"  />Device or Mdeical Supply
							</td>
						</tr>
						<tr>
							<td>
								Product: 
							</td>
							<td>
								<input tye="text" name="name[<%= i %>]" value="<%= p.nameofDrugorBiological %>" />
							</td>
						</tr>
					<% end %>
				<% end %>
				<tr>
					<td>
						<input type="button" name="AddSch" id="AddSch" Value="Add" />
						<input type="hidden" id="id" name="id" value="<%= @spends.id %>" />

					</td>
				</tr>
			</table>
			<table id="ControlsProd">
			</table>
			<%= submit_tag 'Update' %>
		<% end %>
	</div>
	
</div>
<br/>
<div class="box1">
	<h2>
		3rd Party Payee
		<% if current_user.userType == "Employee" %>
			<span style="float:right">
				<a id="Open_thirdParty" style="color:blue;cursor:pointer;">
					Edit
				</a>
			</span>
		<% end %>
	</h2>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">3rd Party Indicatror: </b><p>&nbsp;&nbsp;&nbsp;<%= @ThirdParty.first.ThirdPartyPayemntRecipientIndicator %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Name of 3rd Party Entity: </b><p>&nbsp;&nbsp;&nbsp;<%= @ThirdParty.first.NameofThirdParty %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Charity: </b><p>&nbsp;&nbsp;&nbsp;<%= @ThirdParty.first.Charity %></p>
	&nbsp;&nbsp;&nbsp;<b style="font-size:14px">Information: </b><p>&nbsp;&nbsp;&nbsp;<%= @ThirdParty.first.ContextualInformation %></p>
<script type="text/javascript">
	$(function(){
		$("#recipient1").submit(function(){
			var dataSet = $(this).serialize();
			$.ajax({
				type: "POST",
				url: $(this).attr("action"),
				data: dataSet,
				success: function(){
					alert("Sent!");
				},
				error: function(){
					alert("Something went wrong!");
		        }
		    });
		    return false;
		});
	})
	var el=document.getElementById("Open_thirdParty");
	el.onclick = show_dialog2;
	function show_dialog2() {
		$( "#dialog2" ).dialog();
	}


	</script>
	<div id="dialog2" title="Spends Information" style="font-size:12px;" hidden >
		<%= form_tag({controller: "transfer_of_value",:action => :party, :remote => true}) do |f| %>
			<table>
				<tr>
					<td>
						3rd Party Indicatror: 
					</td>
					<td>
						<select name="Party" id="Party"  >
					<% if @ThirdParty.first.ThirdPartyPayemntRecipientIndicator== "Entity" %>
						<option value="Entity" selected >Entity</option>
						<option value="Individual" >Individual</option>
						<option value="No Third Party">No Third Party</option>
					<% elsif @ThirdParty.first.ThirdPartyPayemntRecipientIndicator == "Individual" %>
						<option value="Entity">Entity</option>
						<option value="Individual" selected>Individual</option>
						<option value="No Third Party">No Third Party</option>
					<% else %>
						<option value="Entity">Entity</option>
						<option value="Individual" >Individual</option>
						<option value="No Third Party" selected>No Third Party</option>
					<% end %>
				</select>

					</td>
				</tr>
				<tr>
					<td>
						Name of 3rd Party Entity: 
					</td>
					<td>
						<input type="text" name="name_of_party" id="name_of_party" value="<%= @ThirdParty.first.NameofThirdParty %>" />
					</td>
				</tr>
				<tr>
					<td>
   						Charity: 
					</td>
					<td>
						<input type="text" name="charity" id="charity" value="<%= @ThirdParty.first.Charity %>" />
					</td>
				</tr>
				<tr>
					<td>
						Information: 
					</td>
					<td>
						<input type="text" name="info" id="info" value="<%= @ThirdParty.first.ContextualInformation %>" />
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="hidden" id="id" name="id" value="<%= @spends.id %>" />
						<input type="hidden" id="ids" name="ids" value="<%= @ThirdParty.first.id %>" />
					</td>

				</tr>
				<tr>
					<td>
						<%=  submit_tag 'Update' %>
					</td>						
				</tr>
			</table>
		<% end %>
	</div>
</div>

<% if current_user.userType == "Physician" or current_user.userType == "Hospital" %>
	<a id="Open_Dispute" style="background-color:#181818;border-radius:10px; display:inline-block; color: white; font-family: Raleway; font-size:12px; padding:8px 18px; text-decoration: none; margin-top: 15px; margin-bottom: 15px; text-align:center;cursor:pointer;">
		Raise a Dispute
	</a>
<% end %>

<script type="text/javascript">
		var el=document.getElementById("Open_Dispute");
		el.onclick = show_dispute_dialog;
			function show_dispute_dialog(){
				$("#dispute_dialog").dialog(
				{
    				create: function (event) {
    				$(event.target).parent().css('position', 'fixed'); 
	    		},
    			resizeStart: function (event) {
    				$(event.target).parent().css('position', 'fixed'); 
    			},
	    		resizeStop: function (event) {
    				$(event.target).parent().css('position', 'fixed'); 
    			}
			});
		}
</script>



<div id="dispute_dialog" title="Dispute" style="font-size:12px;" hidden >
	<%= form_tag({controller: "disputes",:action => :create, :remote => true}) do |f| %>
		<table>
			<tr>
				<td>
					Status:
				</td>
				<td>
					<select id="status" name="status">
						<option value="Open" selected>Open</option>
						<option value="Dispute">Dispute</option>
						<option value="Resolved">Resolved</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					Description:
				</td>
				<td>
					<textarea id="Description" name="Description" rows="3" cols="28"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					Date:
				</td>
				<td>
					<input type="text" name="DisputeDate" id="DisputeDate" />
				</td>
			</tr>
			<tr>
				<td>
					<input type="hidden" id="id" name="id" value="<%= @spends.id %>" />
			</tr>
			<tr>
				<td>
					<%= submit_tag 'update' %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
<script type="text/javascript">
	$("#DisputeDate").datepicker({
			buttonImageOnly:true,
			buttonImage: 'calendar.jpg',
			dateFormat: 'mm-dd-yy'
			
		});
</script>
