<header class="navbar navbar-fixed-top navbar-inverse header">
  <div class="navbar-inner">
    <div class="container" style="margin-left:15px;">
      <br/>
      <%= link_to "Pharma Portal", '#', id: "logo" %>
      <div style="float:right;color:#FFF;margin:5px 15px 0 0">
        <% if current_user.blank? %>
          <%= render 'sessions/new' %>
        <% else %>
          <%= link_to "Sign out",signout_path, method: "delete" %>
        <%end%>
      </div>
    </div>
  </div>
</header>

<header class="navbar navbar-fixed-top navbar-inverse header1">
  <div class="navbar-inner">
    <div class="container" style="margin-left:15px;float:left; margin-top:4px;">
      <% if !current_user.blank? %>

        <%= link_to "Dashboard", '/dashboard', :style => "color:#f9f6f0;" %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to "Spends", '/transfer_of_value', :style => "color:#f9f6f0" %>

      <% end %>
      <div style="float:right;color:#FFF;margin:10px 10px 0 0">
      </div>
    </div>
  </div>
</header>